pymodbus==3.8.0
pydantic==2.9.2
pydantic-settings==2.6.0
pydantic_core==2.23.4
black==25.1.0
catkin_pkg==1.0.0
isort==6.0.1
tenacity==9.1.2
pyaml==25.1.0
pytest==8.3.3
lark==1.2.2
fastapi==0.115.12
uvicorn==0.34.0
RPi.GPIO==0.7.1
sf-hamilton==1.88.0
rospy-message-converter==0.5.2
graphviz==0.20.3
numpy==2.2.6
empy==3.3.4
